/aclocal.m4
/autom4te.cache/
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/Makefile
/Makefile.in
.deps/
.dirstamp

*.o
*.a
/balrogg
/balrogg.exe
/balrogg_prof
/balrogg_prof.exe
/tests/t_suite
/tests/t_suite.exe
/tests/*.log
/tests/*.trs
/test-suite.log

t_suite-*

/balrogg-*.tar.*
/balrogg-*.zip
/ChangeLog.tmp
*~
*.orig
*.rej
*.bak
core
core.*
conftest
conftest.*

/testdata/

/fuzz/fuzz_dec
/fuzz/fuzz_enc
/fuzz/fuzz_ogg
/fuzz/fuzz_opus
/fuzz/crash-*
/fuzz/oom-*
/fuzz/timeout-*

/.vscode/

/build-dos/
/fuzz/cmmix_sse2.o
